<div class="pc-container">
  <h2 class="pc-section__title">Contact</h2>
  <div class="pc-card">
    <div class="pc-card__meta">Email: <%= site && site.broker && site.broker.email || '-' %></div>
    <div class="pc-card__meta">Phone: <%= site && site.broker && site.broker.phone || '-' %></div>
  </div>
</div>


