<section class="pc-testimonials" data-interval="6000">
  <div class="pc-container">
    <div class="pc-testimonials__head">
      <h2 class="pc-testimonials__title">Testimonials</h2>
    </div>

    <div class="pc-twrap">
      <div class="pc-tslides">
        <div class="pc-tcard active">
          <div class="pc-tquote">“</div>
          <p class="pc-ttext">Bavdhan Properties streamlined Bavdhan, Pune process.</p>
          <a class="pc-tlink" href="#">Read More</a>
          <div class="pc-tauthor">Subramanian</div>
        </div>
        <div class="pc-tcard">
          <div class="pc-tquote">“</div>
          <p class="pc-ttext">The agent's market expertise helped me get the best deal on Guest House.</p>
          <a class="pc-tlink" href="#">Read More</a>
          <div class="pc-tauthor">Dhirendra Singh</div>
        </div>
        <div class="pc-tcard">
          <div class="pc-tquote">“</div>
          <p class="pc-ttext">Professional consultant approach and quick responses.</p>
          <a class="pc-tlink" href="#">Read More</a>
          <div class="pc-tauthor">Mani</div>
        </div>
      </div>
      <div class="pc-tdots" aria-hidden="true"></div>
    </div>

    <div class="pc-testimonials__footer">
      <a class="pc-btn pc-btn-light" href="#">View All Reviews</a>
    </div>
  </div>
</section>


